openai>=1.0.0
streamlit.=1.30.0
psycopg[binary]
altair
pandas
playwright
streamlit_extras
Werkzeug
python-dotenv
google-genai
psycopg2-binary
supabase
mercadopago
supabase>=2.0.0
bcrypt
